:root {
  /* Colors */
  --primary-color-light: #7950f2;
  --primary-color-dark: #6741d9;

  --bg-color-100: #343a40;
  --bg-color-500: #2b3035;
  --bg-color-900: #212529;

  --text-color-light: #fff;
  --text-color-medium: #dee2e6;
  --text-color-dark: #adb5bd;

  --danger-color-light: #fa5252;
  --danger-color-dark: #e03131;

  --shadow-soft: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  --shadow-raised: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  --shadow-float: 0 0.8rem 2rem rgba(0, 0, 0, 0.8);

  /* Typography */
  --logo-font-family: 'Outfit', sans-serif;
  --body-font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --h1-sm: 2.4rem;
  --h1-md: 2.6rem;
  --h1-lg: 2.8rem;

  --h2-sm: 1.5rem;
  --h2-base: 1.6rem;
  --h2-md: 1.8rem;
  --h2-lg: 2rem;
  --h2-xl: 2.2rem;
  --h2-xxl: 2.4rem;

  --font-xxs: 1.2rem;
  --font-xs: 1.4rem;
  --font-sm: 1.5rem;
  --font-base: 1.6rem;
  --font-md: 1.8rem;
  --font-lg: 2rem;

  /* Borders */
  --radius-sm: 0.4rem;
  --radius-md: 0.8rem;
  --radius-lg: 1rem;
  --radius-pill: 999rem;

  /* Spacing */
  --space-xxs: 0.8rem;
  --space-xs: 1rem;
  --space-sm: 1.2rem;

  --space-base: 1.6rem;

  --space-md: 2rem;
  --space-lg: 2.4rem;
  --space-xl: 2.6rem;
  --space-xxl: 3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--body-font-family);
  color: var(--text-color-medium);
  background-color: var(--bg-color-900);
  padding: var(--space-xxs);
}

fieldset {
  border: none;
}

.btn {
  font-family: inherit;
  border: none;
  cursor: pointer;

  transform: scale(1);
  transition: all 0.3s ease;
}

.btn:active {
  transform: scale(0.98);
}

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.nav-bar {
  width: 100%;
  min-height: 7.2rem;
  background-color: var(--primary-color-dark);
  padding: var(--space-md);
  border-radius: var(--radius-lg);

  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.logo h1 {
  font-family: 'Outfit', sans-serif;
  font-size: var(--h1-sm);
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text-color-light);
}

.main {
  margin-top: var(--space-lg);

  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.panel {
  width: 100%;
  min-height: 250px;
  background-color: var(--bg-color-500);
  border-radius: var(--radius-lg);
  overflow: hidden;
  position: relative;
}

.panel-header {
  padding: var(--space-base) var(--space-md);
  border-radius: var(--radius-lg);
  background-color: var(--bg-color-100);
  box-shadow: var(--shadow-soft);

  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.panel-header h2 {
  font-size: var(--h2-base);
  font-weight: 700;
  text-transform: uppercase;
}

input[type='search'] {
  min-width: 0;
  width: 100%;
  padding: var(--space-sm) var(--space-base);
  border: none;
  border-radius: var(--radius-md);

  font-size: var(--font-base);
  color: var(--text-color-medium);
  background-color: var(--primary-color-light);

  transition: all 0.3s;
}

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--text-color-light);
  cursor: pointer;

  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path stroke='white' stroke-width='2' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

input[type='search']::placeholder {
  color: var(--text-color-dark);
}

input[type='search']:focus-visible {
  outline: none;
  box-shadow: var(--shadow-raised);
  transform: translateY(-2px);
}

.search-results-header .num-of-matches {
  font-size: var(--font-sm);
}

.search-results-list .release-year {
  justify-self: flex-start;
  align-self: flex-end;
}

.list-toggle-btn {
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;

  font-size: var(--font-xs);
  font-weight: 700;
  color: var(--text-color-medium);
  background-color: var(--bg-color-900);

  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  z-index: 999;
}

.list-toggle-btn:active,
.list-toggle-btn:focus-visible {
  background-color: var(--bg-color-500);
  outline: 1px solid var(--text-color-medium);
}

@media (hover: hover) {
  .list-toggle-btn:hover {
    background-color: var(--bg-color-500);
  }
}

.list {
  list-style: none;
  padding: var(--space-xxs) 0;
  overflow-y: hidden;
}

.list li {
  min-width: 0;
  width: 100%;
  margin: 0 auto;
  border-radius: var(--radius-sm);
  border-bottom: 1px solid var(--bg-color-100);
  position: relative;
}

.list li:has(.movie-list-btn:active),
.list li:has(.movie-list-btn:focus-visible) {
  outline: 1px solid var(--text-color-medium);
  outline-offset: -2px;
}

.movie-list-btn {
  width: 100%;
  font-size: var(--font-xxs);
  padding: var(--space-base);
  padding-left: var(--space-md);
  color: var(--text-color-medium);
  background-color: var(--bg-color-500);

  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  gap: var(--space-base);
}

.movie-list-btn:focus-visible {
  outline: none;
}

@media (hover: hover) {
  .movie-list-btn:hover {
    background-color: var(--bg-color-100);
  }
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list .movie-title {
  font-size: var(--font-sm);
  text-align: start;
  justify-self: flex-start;
}

.watchlist-stats {
  font-size: var(--font-xxs);
  font-weight: 600;

  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

.watchlist-stats p {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.list.watchlist li .movie-list-btn {
  grid-template-rows: auto auto;
}

.watchlist .watched-movie-info {
  grid-column: 1 / -1;
  align-self: flex-end;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-xxs);
}

.watchlist .watched-movie-info .info {
  display: flex;
  align-items: center;
  gap: var(--space-xxs);
}

.details {
  font-size: var(--font-xs);
  line-height: 1.4;
  padding-top: var(--space-xxs);
  position: relative;
}

.details-header {
  min-height: 350px;
  max-height: max-content;

  display: flex;
}

.back-btn {
  height: 3.2rem;
  aspect-ratio: 1;
  border-radius: 50%;

  font-family: sans-serif;
  font-size: var(--font-lg);
  font-weight: 700;
  color: var(--bg-color-500);
  background-color: var(--text-color-light);
  box-shadow: var(--shadow-float);

  position: absolute;
  top: 1.6rem;
  left: 1rem;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn:active,
.back-btn:focus-visible {
  color: var(--bg-color-900);
  outline: 2px solid var(--bg-color-900);
}

@media (hover: hover) {
  .back-btn:hover {
    background-color: var(--text-color-medium);
    color: var(--bg-color-900);
  }
}

.back-btn-icon {
  width: 2rem;
  height: 2rem;
}

.delete-btn {
  height: 2.2rem;
  aspect-ratio: 1;
  border-radius: 50%;

  font-size: var(--font-xxs);
  font-weight: 700;
  color: var(--bg-color-900);
  background-color: var(--danger-color-light);

  position: absolute;
  top: 1.6rem;
  right: 0.8rem;
  z-index: 9999;
}

.delete-btn:active,
.delete-btn:focus-visible {
  outline: 2px solid var(--text-color-light);
  outline-offset: 1px;
}

@media (hover: hover) {
  .delete-btn:hover {
    background-color: var(--danger-color-dark);
  }
}

.details img {
  max-width: 33%;
  max-height: 100%;
  object-fit: cover;
}

.details-overview {
  width: 100%;
  padding: var(--space-md);
  background-color: var(--bg-color-100);

  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.details-overview h2 {
  font-size: var(--h2-base);
  line-height: 1.1;
  margin-bottom: var(--space-xxs);
}

.details-overview p {
  display: flex;
  align-items: center;
  gap: var(--space-xxs);
}

.details-overview > p {
  flex-wrap: wrap;
}

.details-overview .imdb-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stars-and-votes {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xxs);
}

.details .rating-and-plot {
  padding: var(--space-md) var(--space-xs);

  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.rating-wrapper {
  background-color: var(--bg-color-100);
  border-radius: var(--radius-lg);
  padding: var(--space-base) var(--space-xs);
  margin-bottom: var(--space-xxs);
}

.rating {
  font-weight: 600;

  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.rating div {
  display: flex;
  flex-wrap: wrap;
}

.rating p {
  font-size: var(--font-sm);
  align-self: center;
}

.add-btn {
  font-size: var(--font-xs);
  font-weight: 700;
  color: var(--text-color-medium);
  background-color: var(--primary-color-dark);
  padding: var(--space-xs);
  border-radius: var(--radius-pill);

  transform: scale(1);
  transition: background-color 0.3s;
}

.add-btn:active {
  transform: scale(0.98);
}

.add-btn:active,
.add-btn:focus-visible {
  outline: 1px solid var(--text-color-light);
  outline-offset: 1px;
}

@media (hover: hover) {
  .add-btn:hover {
    background-color: var(--primary-color-light);
  }
}

.plot {
  padding: 0 var(--space-base);

  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.plot-summary {
  font-style: italic;
}

.actors,
.creators {
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.loader {
  font-size: var(--font-lg);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 5rem;
}

.error {
  font-size: var(--font-md);
  text-align: center;
  padding: 5rem var(--space-md);
}

@media screen and (min-width: 320px) {
  .watchlist-stats {
    font-size: var(--font-xs);
    gap: var(--space-sm);
  }

  .movie-list-btn {
    font-size: var(--font-xs);
    gap: var(--space-md);
  }

  .list.watchlist img {
    grid-row: 1 / -1;
  }

  .watchlist .watched-movie-info {
    grid-column: 2;
  }

  .details .rating-and-plot {
    padding: var(--space-md);
  }

  .plot {
    padding: 0;
  }
}

@media screen and (min-width: 375px) {
  body {
    padding: var(--space-xs);
  }

  input[type='search'],
  .search-results-header,
  .search-results-header .num-of-matches {
    font-size: var(--font-base);
  }

  .panel-header {
    padding: var(--space-md) var(--space-xl);
  }

  .movie-list-btn {
    padding: var(--space-base) var(--space-xl);
    column-gap: var(--space-lg);
  }

  .list.watchlist li .movie-list-btn {
    row-gap: 0;
  }

  .list .movie-title {
    font-size: var(--font-base);
  }

  .details-overview h2 {
    font-size: var(--h2-md);
  }

  .watchlist .watched-movie-info {
    gap: var(--space-md);
  }

  .details .rating-and-plot {
    padding: var(--space-lg-1);
  }

  .rating-wrapper {
    padding: var(--space-md) var(--space-base);
  }

  .rating .star-btn {
    width: 1.8rem !important;
    height: 1.8rem !important;
  }
}

@media screen and (min-width: 425px) {
  body {
    padding: var(--space-sm);
  }

  .logo h1 {
    font-size: var(--h1-md);
  }

  .watchlist-stats {
    gap: var(--space-base);
  }

  .movie-list-btn {
    font-size: var(--font-sm);
  }

  .details-overview {
    padding: var(--space-lg);
  }

  .details-overview h2 {
    font-size: var(--h2-lg);
  }

  .details .rating-and-plot {
    padding: 3.4rem;
    gap: var(--space-lg);
  }

  .rating {
    width: 270px;
    margin: 0 auto;
  }

  .rating .star-btn {
    width: 2.2rem !important;
    height: 2.2rem !important;
  }

  .add-btn {
    width: 270px;
    font-size: var(--font-sm);
  }

  .plot {
    font-size: var(--font-sm);
  }
}

@media screen and (min-width: 576px) {
  body {
    padding: var(--space-base);
  }

  input[type='search'] {
    font-size: var(--font-md);
  }

  .panel-header {
    padding: var(--space-lg) var(--space-xxl);
  }

  .movie-list-btn {
    padding: var(--space-base) var(--space-xxl);
  }

  .list .movie-title {
    font-size: var(--font-md);
  }

  .details-overview h2 {
    font-size: var(--h2-lg);
  }

  .details img {
    max-height: 350px;
  }

  .details-overview p {
    font-size: var(--font-sm);
  }

  .details-overview .imdb-rating {
    flex-direction: row;
  }

  .details .rating-and-plot {
    padding: 4rem;
  }

  .rating {
    width: 320px;
    padding: var(--space-xs) var(--space-lg);
  }

  .rating .star-btn {
    width: 2.4rem !important;
    height: 2.4rem !important;
  }

  .add-btn {
    font-size: var(--font-base);
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: var(--space-lg);
  }

  .nav-bar {
    padding: 0 var(--space-xxl);

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  input[type='search'] {
    width: 300px;
  }

  .details-overview h2 {
    font-size: var(--h2-xl);
  }

  .rating p,
  .plot {
    font-size: var(--font-base);
  }
}

@media screen and (min-width: 991px) {
  body {
    padding: var(--space-lg);
  }

  .logo h1 {
    font-size: var(--h1-lg);
  }

  .main {
    flex-direction: row;
    justify-content: center;
  }

  .panel {
    max-width: 60rem;
  }

  .panel-header h2 {
    font-size: var(--h2-md);
  }

  .watchlist-stats {
    height: 2rem;
    font-size: var(--font-base);
  }

  .search-results-header .num-of-matches {
    height: 2rem;
    font-size: var(--font-base);
  }

  .error {
    font-size: var(--font-lg);
  }

  .details-header {
    min-height: 300px;
  }

  .details img,
  .details-overview {
    max-height: 300px;
  }

  .details-overview h2 {
    font-size: var(--h2-xxl);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: auto !important;
  }
}
